@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --cor-1: #000;
    --cor-2: #505050;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    width: min(100% - 2rem, 80vw);
    margin: 0 auto;
    padding-bottom: 2rem;
}

header img {
    width: 200px;
}

header a {
    margin-left: auto;
    font-weight: bold;
    color: var(--cor-1);
}

h1 {
    width: min(100% - 2rem, 80vw);
    font-size: clamp(1.75rem, 2.5vw, 2.2rem);
    margin: 0 auto;
}

main {
    width: min(100% - 2rem, 60vw);
    padding: 2rem 1rem;
    outline: 3px solid var(--cor-1);
    margin: auto;
    display: flex;
    flex-direction: column;
}

button {
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    background: transparent;
    color: var(--cor-2);
    border: 3px solid currentColor;
    cursor: pointer;
}

.info {
    display: flex;
    align-items: center;
}

.info h2 {
    flex-grow: 1;
    justify-self: start;
}

hr {
    margin-block: 1.5rem;
    border: 1px solid var(--cor-2);
}

.numeros,
.estrelas {
    display: flex;
    justify-content: space-evenly;
    margin-block: 2rem;
}

.numeros p,
.estrelas p {
    font-weight: bold;
    padding: 0.25rem;
}

@media only screen and (max-width: 600px) {
    button {
        width: 100%;
    }

    header img {
        width: clamp(140px, 160px, 200px);
    }

    .info h2 {
        display: none;
    }
}
